aiohappyeyeballs==2.4.3
aiohttp==3.11.6
aiosignal==1.3.1
annotated-types==0.5.0  # 최신 버전으로 수정
anyio==3.6.2  # 최신 버전으로 수정
appdirs==1.4.4
arelle-release==2.35.7
async-timeout==5.0.1
attrs==24.2.0
beautifulsoup4==4.12.2  # 최신 버전으로 수정
Bottleneck==1.3.6  # 최신 버전으로 수정
Brotli==1.0.9  # 최신 버전으로 수정
certifi==2024.6.15  # 최신 버전으로 수정
charset-normalizer==3.2.0  # 최신 버전으로 수정
dart-fss==0.4.10
distro==1.8.0  # 최신 버전으로 수정
et_xmlfile==2.0.0
exceptiongroup==1.1.0  # 최신 버전으로 수정
fake-useragent==1.5.1
filelock==3.16.1
frozenlist==1.5.0
greenlet==3.1.1
h11==0.14.0  # 최신 버전으로 수정
httpcore==0.17.0  # 최신 버전으로 수정
httpx==0.24.0  # 최신 버전으로 수정
idna==3.4
importlib_resources==6.4.5
isodate==0.7.2
jiter==0.7.0  # 최신 버전으로 수정
lxml==5.3.0
mkl-fft==1.3.10  # 최신 버전으로 수정
mkl-random==1.2.2  # 최신 버전으로 수정
mkl-service==2.4.0
multidict==6.1.0
numexpr==2.8.4  # 최신 버전으로 수정
numpy==1.26.4  # 최신 버전으로 수정
openai==0.28.0
openpyxl==3.1.5
pandas==2.2.2  # 최신 버전으로 수정
pillow==11.0.0
propcache==0.2.0
pydantic==1.10.8  # 최신 버전으로 수정
pydantic_core==2.3.0  # 최신 버전으로 수정
PyMySQL==1.1.1
pyparsing==3.2.0
PySocks==1.7.1  # 최신 버전으로 수정
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3
redis==5.2.0
regex==2024.11.6
requests==2.30.0  # 최신 버전으로 수정
six==1.16.0
sniffio==1.3.0  # 최신 버전으로 수정
soupsieve==2.4.1  # 최신 버전으로 수정
SQLAlchemy==2.0.36
termcolor==2.3.0
tiktoken==0.8.0
tqdm==4.65.0  # 최신 버전으로 수정
typing_extensions==4.6.3  # 최신 버전으로 수정
tzdata==2023.3
urllib3==1.26.16  # 최신 버전으로 수정
xmltodict==0.14.2
yarl==1.17.2
yaspin==3.1.0
zipp==3.21.0
